extends layout

block content
  .container-fluid
    h1= title
    .row.large-row
      .col-md-8
        .embed-responsive.embed-responsive-16by9
          video#videoPlayer.embed-responsive-item.video-js.vjs-default-skin(controls preload='auto')
            source(src=videoPath, type="video/mp4")
            p Votre navigateur ne supporte pas les vidéos HTML5.
      .col-md-4
        .video-info
          h2 Caractéristiques de la vidéo
          table.table.table-striped
            tr
              th Nom de fichier
              td= videoInfo.filename
            tr
              th Durée
              td= videoInfo.duration + ' secondes'
            tr
              th Taille
              td= videoInfo.size + ' octets'
            tr
              th Format
              td= videoInfo.format
            tr
              th Codec
              td= videoInfo.codec
            tr
              th Résolution
              td= videoInfo.width + 'x' + videoInfo.height

    // Include custom script
    script(src='/javascripts/video.js')
